<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <h1>Adam Taylor</h1>
    <p>
        My name is Adam Ross Taylor. I am 21 years old. I currently go to the University of the West Indies Mona where 
        I am pursuing a major in Computer Science and a minor in General Physics. I am interested in web development as 
        I think being able to design, develop and maintain websites is a good skill to have in the field of Computer Science.
    </p>
    <img src="{{ url_for('static', filename='img/UWI_logo.jpeg') }}" alt="UWI LOGO">
</body>
</html>



